<a href="https://colab.research.google.com/github/FemiAdesola/Data-Science_2/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Input function

In [ ]:
name = input()

Femi

In [ ]:
Age = input("Please enter your age: ")

Please enter your age: 31

In [ ]:
# persionalized information
Name = input("Please enter your Name: ")
Age = input("Please enter your Age: ")

# Print function for the information
print(f"Hello, {Name}! You are {Age} years old")

Please enter your Name: Femi
Please enter your Age: 31
Hello, Femi! You are 31 years old

In [ ]:
# Telling the datatype type
Name = str(input("Please enter your Name: "))
Age = int(input("Please enter your Age: "))

# Print function for the information
print(f"Hello, {Name}! You are {Age} years old")

Please enter your Name: Femi
Please enter your Age: 31
Hello, Femi! You are 31 years old

In [ ]:
Age + 2

33

In [ ]:
# Checking Variable type

In [ ]:
Name = "Femi"
type(Name)

str

In [ ]:
Name = "Femi"
Age = 31
Height = 1.75

print(type(Name))
print(type(Age))
print(type(Height))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
print(f" The varibale type for name is {type(Name)} and for age is {type(Age)} and the heihght is {(type(Height))}")

 The varibale type for name is <class 'str'> and for age is <class 'int'> and the heihght is <class 'float'>

## Arithemetic operation

In [ ]:
x = 5
y = 4

In [ ]:
# Addition
x+y

9

In [ ]:
# substraction
x-y

1

In [ ]:
# Multiplication
x*y

20

In [ ]:
# Exponetial
x**y

625

In [ ]:
# Division
x/y

1.25

In [ ]:
# modulus
x%y

1

In [ ]:
# Floor Division
x//y

1

## Compound Assignment operators

In [ ]:
# Compound Assignment operators
x += 3 # equivalent to x = x+3

print(x)

8

In [ ]:
x= x+3
print(x)

11

In [ ]:
# Compound Assignment operators
x -= 3 # equivalent to x = x+3

print(x)

8

In [ ]:
x= x-3
print(x)

5

In [ ]:
# Compound Assignment operators
x //= 3 # equivalent to x = x+3
print(x)

1

In [ ]:
# Compound Assignment operators
x *= 3 # equivalent to x = x+3
print(x)

3

In [ ]:
x = x*3
print(x)

9

## Comparison

In [ ]:
x==y

False

In [ ]:
x != y

True

In [ ]:
x<y

False

In [ ]:
x>y

True

In [ ]:
x>=y

True

In [ ]:
x<=y

False

In [ ]:
# Step 1 - Prompt the user for the meal cost
meal_cost = float(input("Enter the total cost of the meal: "))

# Step 2 - Prompt the user for the tip percentage
tip_percentage = float(input("Enter the tip percentage desired (e.g., 15 for 15%): "))

# Step 3 - Prompt the user for the number of people at the table
number_of_people = int(input("Enter the number of people at the table: "))

# Step 4 - Calculate the tip amount using the tip percentage and the meal cost
tip_amount = meal_cost * (tip_percentage / 100)

# Step 5 - Calculate the total cost of the meal, including the tip
total_cost = meal_cost + tip_amount

# Step 6 - Calculate the average cost per person
cost_per_person = total_cost / number_of_people

# Step 7 - Display everything to users: tip amount, total cost, cost per person
print(f"Tip amount: ${tip_amount:.2f}")
print(f"Total cost: ${total_cost:.2f}")
print(f"Cost per person: ${cost_per_person:.2f}")

Enter the total cost of the meal: 12
Enter the tip percentage desired (e.g., 15 for 15%): 10
Enter the number of people at the table: 3
Tip amount: $1.20
Total cost: $13.20
Cost per person: $4.40

##If-else conditions

In [ ]:
#If statement
x = 2

In [ ]:
if x > 5:
  print("X is greater than 5")

In [ ]:
#If statement part 2
x = 10

In [ ]:
if x > 5:
  print("X is greater than 5")

X is greater than 5

In [ ]:
#If + elif
x = 20

#if condition
if x > 15:
  print("x is greater than 15")
elif x > 5:
  print("x is greater than 5 but not greater than 15")

x is greater than 15

In [ ]:
# if + elif + else
x = -10

#if condition
if x > 15:
  print("x is greater than 15")
elif x > 5:
  print("x is greater than 5 but not greater than 15")
else:
  print("x is less than or equal to 5")

x is less than or equal to 5

## ## For determining who can vote

In [ ]:
# Create a if-else condition that tells you whether they can vote
# The assessment must be based on their age

age = int(input("Please enter your age: "))

#if-else condition
if age >= 18:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote")

Please enter your age: 31
You are eligible to vote.

## Grade calculator

In [ ]:
# Take an input of a test score (0-100) and transform it into a grade (A-F)
score = float(input("Enter your score (0-100): "))

if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'
print(f"Your score of {score} is equivalent to a {grade} grade")

Enter your score (0-100): 98
Your score of 98.0 is equivalent to a A grade

In [ ]:
# Step 1: Get user's age and the current number of guests
age = int(input("Please tell me you age: "))
current_guests = int(input("Enter current number of people in the club: "))

# Step 2: Current Entry rules
min_age = 18
max_age = 60
max_guests = 200

# Step 3: Use comparisons to determine if a guest can enter
can_enter = (min_age <= age <= max_age) and (current_guests < max_guests)

# Step 4: Communicate to user if he or she can enter
if can_enter:
  print("Welcome to Berghain and have fun")
elif age < min_age or age > max_age:
  print("Sorry, you cannot enter the club due to your age")
elif current_guests > max_guests:
  print("Sorry, the club is at max capacity")
else:
  print("Sorry, not tonight")

Please tell me you age: 18
Enter current number of people in the club: 23
Welcome to Berghain and have fun

## For Calculating Monthly saving towards retirement aga

In [ ]:
# Step 1 - Prompt the user for their age
current_age = int(input("Please enter your current age: "))

# Step 2 - Prompt for desired retirement age
retirement_age = int(input("Please enter your target retirement age: "))

#Step 3 - Prompt for desired savings when retired
desired_savings = float(input("Enter your desired retirement savings: "))

#step 4 - Prompt for interest rate
interest_rate = float(input("Enter annual interest rate in your savings (e.g., 5 for 5%): "))

#Step 5 - numbers of years until retirements
years_until_retirement = retirement_age - current_age
print(f"You have {years_until_retirement} left to work")

# Step 6- calculate number of months until retirement
months_until_retirement = years_until_retirement * 12

#Step 7 - Calculate monthly interest rate
monthly_interest_rate = (1 + interest_rate / 100) ** (1/12) - 1

#Step 8 - Determine the monthly savings
monthly_savings = (desired_savings * monthly_interest_rate
                   ) / ((1 + monthly_interest_rate) ** months_until_retirement -1)

#Step  9 - communicate the ideal monthly savings to the user
print(f"Ideal monthly savings amount: {monthly_savings:.0f}")

Please enter your current age: 47
Please enter your target retirement age: 64
Enter your desired retirement savings: 30000
Enter annual interest rate in your savings (e.g., 5 for 5%): 5
You have 17 left to work
Ideal monthly savings amount: 95

## For Calculating monthly interest rate

In [ ]:
#Example -> 10% interest rate
monthly_interest_rate = (1+0.1) ** (1/12) -1
print(monthly_interest_rate)

0.007974140428903764